mixin header
    header.header
        .container-fluid
            .header-main
                a(href="").logo 
                    img(src="images/logo.svg", alt="LoremIpsum.Net")
                nav.nav
                    a(href="").nav__link.nav__link--active Бизнес
                    a(href="").nav__link О нас
                    a(href="").nav__link Цены
                    a(href="").nav__link Оформить заказ
                button(type="button").open-menu.js-open-menu
                    span 
                    span 
                    span 