extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/index-section/index-section.pug
include ../blocks/ordering/ordering.pug
include ../blocks/footer/footer.pug

block title
    +head('Главная')
block pagecontent 
    +header
    +index-section
    +ordering
    +footer

    script(src="js/libs.min.js") 
    script(src="js/script.js") 