mixin index-section
    .index-section
        .index-section__main
            .container-fluid
                h1.title.index-section__title 
                    span Lorem ipsum 
                    | dolor sit <br class="mb-show">amet consectetur 
                    span adipiscing
                strong At&nbsp;vero eos et&nbsp;accusamus et&nbsp;iusto odio dignissimos ducimus!
                ul.list.index-section__list
                    li.list__item Totam rem aperiam eaque ipsa
                    li.list__item Sit voluptatem accusantium doloremque laudantium
                    li.list__item Sed ut&nbsp;perspiciatis, unde omnis iste natus error
                .button-listing
                    a(href="#").button Заказать
                    a(href="#").button.button__secondary подробнее